<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Spring Boot 기본 설정 -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- 로그 저장 폴더 -->
    <property name="log_dir" value="/spring_module/log"/>

    <!-- 파일 로그 설정 -->
    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">

        <!-- 현재 로그 -->
        <file>${log_dir}/myLog.log</file>

        <!-- 로그 출력 형식 -->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>

        <!-- 날짜별 로그 저장 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                ${log_dir}/mySpringProject.%d{yyyy-MM-dd}.log
            </fileNamePattern>

            <!-- 30일 보관 -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>

    </appender>

    <!-- 루트 로그 레벨 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>